form{
    padding: 10px;
    border: none;
    color: #9146FF;
    background-color: rgb(37, 30, 70);
    text-align: center;
}

input{
    position: relative;
    outline: none;
    width: 60%;
    border: #9146FF solid 2px;
    height: 100%;
    padding: 10px;
    background-color: rgb(37, 30, 70);
    cursor: pointer;
    color: white;
}

button{
    color: white;
    border-radius: 0px; 
    border: #9146FF solid 3px;
    background-color: #9146FF;
    padding: 7px;
}
button:hover{
    background-color: #9046ff85;
    color: rgb(255, 255, 255);
    transition: 100ms;
    border: #9046ff85 solid 3px;
}